<mat-list role="list">
    <mat-list-item role="listitem">
        <a [routerLink]="['/form']">form</a>
    </mat-list-item>
    <mat-list-item role="listitem">
        <a [routerLink]="['/navbar']">navbar</a>
    </mat-list-item>
    <mat-list-item role="listitem">
        <a [routerLink]="['/card']">card</a>
    </mat-list-item>

</mat-list>

<mat-menu #appMenu="matMenu">
    <!--  <button mat-menu-item [matMenuTriggerFor]="subMenu">FronEnd</button> -->
    <button mat-menu-item>Backand</button>
</mat-menu>

<button mat-flat-button [matMenuTriggerFor]="appMenu">menu</button>