<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">

                    <app-categoria-form></app-categoria-form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">

                    <app-categoria-list> </app-categoria-list>
                </div>
            </div>
        </div>
    </div>
</div>